
/* ------------------------------ */
/* custom styles to set fonts etc */
/* ------------------------------ */

/* values used in SENSOR tiles */
.item-entity--value {
  font-size: 18px;
}
.item-entity--unit {
  font-size: 12px;
}
.item-title {
  font-size: 12px;
}
.item-subtitle {
  font-size: 10px;
}
